
.DS_Store
FQ2ESO/package-lock.json
BG1ESO/.ipynb_checkpoints/meteorito_limite_kt-7f6fabc1-41c7-4bfb-92fb-afaf89b19e1b-checkpoint.ipynb
BG1ESO/meteorito_limite_kt-7f6fabc1-41c7-4bfb-92fb-afaf89b19e1b.ipynb
